<!doctype html>
<html>

<head>
  <title>The Nest</title>
  <link rel="stylesheet" href="public/styles/output.css" />
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
  <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="min-h-screen text-zinc-50 bg-black  grid place-items-center">
  <div class="w-1/2 flex flex-col items-center border border-green-400" hx-ext="ws" ws-connect="/ws">
    <main class="flex flex-col justify-end bg-black p-2 w-full overflow-y-auto" style="height: 80vh" id="messages">
    </main>

    <form class="flex gap-0 px-2 w-full items-center text-green-500 font-mono" ws-send _="on submit reset() me">
      <p class="flex-none font-bold" id="avatar"></p>
      <input id="user-message" type="text" name="userMessage"
        class="grow p-2 bg-black text-green-500  font-mono focus:shadow-green-100  focus:outline-none block w-full text-sm"
        autocomplete="off" autofocus />
    </form>
  </div>
</body>

</html>